[submodule "NGMCTool/vendor/zlib"]
	path = NGMCTool/vendor/zlib
	url = https://github.com/madler/zlib
	branch = master
[submodule "vendor/zlib"]
	path = vendor/zlib
	url = https://github.com/madler/zlib
	branch = master
[submodule "NGMCToolGUI/vendor/ImGui"]
	path = NGMCToolGUI/vendor/ImGui
	url = https://github.com/ocornut/imgui
	branch = docking
